// TYPOGRAPHY
.text
	&_bold
		font-weight: bold
	&_italic
		font-style: italic

// BUTTONS
.btn
	display: inline-block
	vertical-align: top
	padding: $space-xs $space-m
	border: 1px solid gray

// CARDS
.card
	border: 5px solid purple
	padding: $space-l
	&--4
		flex-basis: 25%
	&--3
		flex-basis: 33.3333%
	&--2
		flex-basis: 50%

	&__content
		border: 1px solid green

	&__img

	&__name

	&__descr

	&__btn