// TYPOGRAPHY
.text
	&_bold
		font-weight: bold
	&_italic
		font-style: italic

// BUTTONS
.btn
	display: inline-block
	vertical-align: top
	padding: $space-xs $space-m
	border: 1px solid gray

// CARDS
.card
	padding: $space-l $space-xxxl $space-l 0
	text-align: center
	&--4
		flex-basis: 25%
	&--3
		flex-basis: 33.3333%
	&--2
		flex-basis: 50%

	&__content
		padding: $space-m
		background-color: white
		box-shadow: 0 5px 20px $lightgray

	&__img
		display: block
		height: 275px
		margin-bottom: $space-xl
		text-align: center
		overflow: hidden
		img
			width: auto
			height: auto

	&__name
		display: block
		margin-bottom: $space-xl

	&__descr
		display: block
		margin-bottom: $space-xl

	&__btn
		display: block
		margin-bottom: $space-xl