// g- global layout
// l- layout is allways inside in g-

.g-section
	padding: $space-xxxl
	&__head

.l-wrapper
	width: 1280px
	margin: 0 auto

.l-cards
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: flex-start
	width: 100%
	margin: $space-l auto