<section class="g-section g-wrapper">
	<h1>Typography h1</h1>
	<h2>Typography h2</h2>
	<h3>Typography h3</h3>
	<h4>Typography h4</h4>
	<h5>Typography h5</h5>
	<h6>Typography h6</h6>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic repudiandae quisquam culpa neque dolores perspiciatis ab voluptatum accusantium quaerat! Quos magnam debitis eveniet ratione fuga, odit porro voluptatum doloremque. Sit sint architecto, nulla provident saepe ipsa doloremque voluptate eos ipsum ea voluptatem illum natus veniam fugiat, exercitationem nihil obcaecati ad?</p>
	<p class="text text_bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, natus!</p>
	<p class="text text_italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic repudiandae quisquam culpa neque dolores perspiciatis ab voluptatum accusantium quaerat! Quos magnam debitis eveniet ratione fuga, odit porro voluptatum doloremque. Sit sint architecto, nulla provident saepe ipsa doloremque voluptate eos ipsum ea voluptatem illum natus veniam fugiat, exercitationem nihil obcaecati ad?</p>
	<h2>Typography h2</h2>
	<ul>
		<li>unordered list item</li>
		<li>unordered list item</li>
		<li>unordered list item</li>
		<li>unordered list item</li>
		<li>unordered list item</li>
		<li>unordered list item</li>
		<li>unordered list item</li>
	</ul>
	<h3>Typography h3</h3>
	<ol>
		<li>ordered list item</li>
		<li>ordered list item</li>
		<li>ordered list item</li>
		<li>ordered list item</li>
		<li>ordered list item</li>
		<li>ordered list item</li>
		<li>ordered list item</li>
	</ol>


	<h4>Typography h4</h4>
	<table>
		<tbody>
			<thead>
				<tr>
					<td>thead 1</td>
					<td>thead 2</td>
					<td>thead 3</td>
					<td>thead 4</td>
					<td>thead 5</td>
				</tr>
			</thead>
			<tr>
				<td>table item 1</td>
				<td>table item 2</td>
				<td>table item 3</td>
				<td>table item 4</td>
				<td>table item 5</td>
			</tr>
			<tr>
				<td>table item 1</td>
				<td>table item 2</td>
				<td>table item 3</td>
				<td>table item 4</td>
				<td>table item 5</td>
			</tr>
			<tr>
				<td>table item 1</td>
				<td>table item 2</td>
				<td>table item 3</td>
				<td>table item 4</td>
				<td>table item 5</td>
			</tr>
			<tr>
				<td>table item 1</td>
				<td>table item 2</td>
				<td>table item 3</td>
				<td>table item 4</td>
				<td>table item 5</td>
			</tr>
			<tr>
				<td>table item 1</td>
				<td>table item 2</td>
				<td>table item 3</td>
				<td>table item 4</td>
				<td>table item 5</td>
			</tr>
		</tbody>
	</table>

</section>


<section class="g-section g-wrapper">
	<h2 class="g-section__head">Products cards</h2>
	<div class="l-cards">
		<div class="card card--3">
			<div class="card__content">
				<a class="card__img" href="#">
					<img src="" alt="img">
				</a>
				<a class="card__name" href="#">
					Item name Lorem, ipsum dolor.
				</a>
				<p class="card__descr">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptas?
				</p>
				<div class="card__btn">
					<a href="#" class="btn">Купить</a>
				</div>
			</div>
		</div>
	</div>
</section>