<section class="g-section">
	<div class="l-wrapper">
		<div class="hero">
			<div class="royalSlider rsDefault hero__slider js-main-slider">
				<img class="rsImg" src="http://fillmurray.com/1000/1000" alt="">
				<img class="rsImg" src="http://fillmurray.com/1100/1300" alt="">
				<img class="rsImg" src="http://fillmurray.com/1300/1500" alt="">
			</div>
		</div>
	</div>
</section>

<section class="g-section" style=" background: #f8f8f8;">
	<div class="l-wrapper">
		<h2 class="g-section__head">Products cards</h2>
		<div class="l-cards l-cards--4">
			<div class="l-cards__inner">
				<div class="card l-cards__item">
					<div class="card__content">
						<a class="card__img" href="#">
							<img src="http://fillmurray.com/300/300" alt="img">
						</a>
						<a class="card__name" href="#">
							Item name Lorem
						</a>
						<p class="card__descr">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro veritatis accusantium ducimus aspernatur repellendus illum corrupti alias neque, earum nesciunt!
						</p>
						<div class="card__price">
							2500
						</div>
						<div class="card__btn">
							<a href="#" class="btn">В корзину</a>
						</div>
					</div>
				</div>
				<div class="card l-cards__item">
					<div class="card__content">
						<a class="card__img" href="#">
							<img src="http://fillmurray.com/300/300" alt="img">
						</a>
						<a class="card__name" href="#">
							Item name Lorem, ipsum dolor.
						</a>
						<p class="card__descr">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, ratione, dolorem. Ad quos, tenetur consequatur culpa, alias distinctio incidunt aut voluptate mollitia earum quaerat magnam nobis, voluptas error. Exercitationem, aliquid.
						</p>
						<div class="card__price">
							12500
						</div>
						<div class="card__btn">
							<a href="#" class="btn">В корзину</a>
						</div>
					</div>
				</div>
				<div class="card l-cards__item">
					<div class="card__content">
						<a class="card__img" href="#">
							<img src="http://fillmurray.com/300/300" alt="img">
						</a>
						<a class="card__name" href="#">
							Item name Lorem, ipsum dolor.
						</a>
						<p class="card__descr">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, unde!
						</p>
						<div class="card__price">
							5500
						</div>
						<div class="card__btn">
							<a href="#" class="btn">В корзину</a>
						</div>
					</div>
				</div>
				<div class="card l-cards__item">
					<div class="card__content">
						<a class="card__img" href="#">
							<img src="http://fillmurray.com/300/300" alt="img">
						</a>
						<a class="card__name" href="#">
							Item name Lorem, ipsum dolor.
						</a>
						<p class="card__descr">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate autem vitae voluptates illo, doloribus modi quod perspiciatis. Dolorem, sunt laudantium aspernatur, iure facilis enim corrupti nostrum nulla, consequuntur sed in explicabo delectus. Vero dicta, velit nihil repellendus esse mollitia tempora!
						</p>
						<div class="card__price">
							2600
						</div>
						<div class="card__btn">
							<a href="#" class="btn">В корзину</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="l-cards l-cards--2">
			<div class="l-cards__inner">
				<div class="card l-cards__item">
					<div class="card__content">
						<a class="card__img" href="#">
							<img src="http://fillmurray.com/300/300" alt="img">
						</a>
						<a class="card__name" href="#">
							Item name Lorem, ipsum dolor.
						</a>
						<p class="card__descr">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptas?
						</p>
						<div class="card__btn">
							<a href="#" class="btn">В корзину</a>
						</div>
					</div>
				</div>
				<div class="card l-cards__item">
					<div class="card__content">
						<a class="card__img" href="#">
							<img src="http://fillmurray.com/300/300" alt="img">
						</a>
						<a class="card__name" href="#">
							Item name Lorem, ipsum dolor.
						</a>
						<p class="card__descr">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptas?
						</p>
						<div class="card__btn">
							<a href="#" class="btn">В корзину</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="l-cards l-cards--3">
			<div class="l-cards__inner">
				<div class="card l-cards__item">
					<div class="card__content">
						<a class="card__img" href="#">
							<img src="http://fillmurray.com/300/300" alt="img">
						</a>
						<a class="card__name" href="#">
							Item name Lorem, ipsum dolor.
						</a>
						<p class="card__descr">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptas?
						</p>
						<div class="card__btn">
							<a href="#" class="btn">В корзину</a>
						</div>
					</div>
				</div>
				<div class="card l-cards__item">
					<div class="card__content">
						<a class="card__img" href="#">
							<img src="http://fillmurray.com/300/300" alt="img">
						</a>
						<a class="card__name" href="#">
							Item name Lorem, ipsum dolor.
						</a>
						<p class="card__descr">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptas?
						</p>
						<div class="card__btn">
							<a href="#" class="btn">В корзину</a>
						</div>
					</div>
				</div>
				<div class="card l-cards__item">
					<div class="card__content">
						<a class="card__img" href="#">
							<img src="http://fillmurray.com/300/300" alt="img">
						</a>
						<a class="card__name" href="#">
							Item name Lorem, ipsum dolor.
						</a>
						<p class="card__descr">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptas?
						</p>
						<div class="card__btn">
							<a href="#" class="btn">В корзину</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="g-section">
	<div class="l-wrapper">
		<h1>Typography h1</h1>
		<h2>Typography h2</h2>
		<h3>Typography h3</h3>
		<h4>Typography h4</h4>
		<h5>Typography h5</h5>
		<h6>Typography h6</h6>

		<p>Lorem <a href="#">ipsum dolor sit amet</a> consectetur adipisicing elit. Hic repudiandae quisquam culpa neque dolores perspiciatis ab voluptatum accusantium quaerat! Quos magnam debitis eveniet ratione fuga, odit porro voluptatum doloremque. Sit sint architecto, nulla provident saepe ipsa doloremque voluptate eos ipsum ea voluptatem illum natus veniam fugiat, exercitationem nihil obcaecati ad?</p>
		<p class="text text_bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, natus!</p>
		<p class="text text_italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic repudiandae quisquam culpa neque dolores perspiciatis ab voluptatum accusantium quaerat! Quos magnam debitis eveniet ratione fuga, odit porro voluptatum doloremque. Sit sint architecto, nulla provident saepe ipsa doloremque voluptate eos ipsum ea voluptatem illum natus veniam fugiat, exercitationem nihil obcaecati ad?</p>
		<h2>Typography h2</h2>
		<ul>
			<li>unordered list item</li>
			<li>unordered list item</li>
			<li>unordered list item</li>
			<li>unordered list item</li>
			<li>unordered list item</li>
			<li>unordered list item</li>
			<li>unordered list item</li>
		</ul>
		<h3>Typography h3</h3>
		<ol>
			<li>ordered list item</li>
			<li>ordered list item</li>
			<li>ordered list item</li>
			<li>ordered list item</li>
			<li>ordered list item</li>
			<li>ordered list item</li>
			<li>ordered list item</li>
		</ol>


		<h4>Typography h4</h4>
		<table>
			<tbody>
				<thead>
					<tr>
						<td>thead 1</td>
						<td>thead 2</td>
						<td>thead 3</td>
						<td>thead 4</td>
						<td>thead 5</td>
					</tr>
				</thead>
				<tr>
					<td>table item 1</td>
					<td>table item 2</td>
					<td>table item 3</td>
					<td>table item 4</td>
					<td>table item 5</td>
				</tr>
				<tr>
					<td>table item 1</td>
					<td>table item 2</td>
					<td>table item 3</td>
					<td>table item 4</td>
					<td>table item 5</td>
				</tr>
				<tr>
					<td>table item 1</td>
					<td>table item 2</td>
					<td>table item 3</td>
					<td>table item 4</td>
					<td>table item 5</td>
				</tr>
				<tr>
					<td>table item 1</td>
					<td>table item 2</td>
					<td>table item 3</td>
					<td>table item 4</td>
					<td>table item 5</td>
				</tr>
				<tr>
					<td>table item 1</td>
					<td>table item 2</td>
					<td>table item 3</td>
					<td>table item 4</td>
					<td>table item 5</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
